@import "../core/theme";

.primary-modal-background {
  background-color: #00000080;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100vw;
  left: 0;
  top: 0;
  & .content-modal {
    background-color: get-theme-value(theme, secondary, background);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    border-radius: 0.5rem;
    display: flex;

    @media (width > 768px) {
      &.modal-lg {
        height: 90vh;
        width: 80vw;
      }

      &.modal-md {
        height: 80vh;
        width: 70vw;
      }

      &.modal-sm {
        height: 70vh;
        width: 60vw;
      }

      &.modal-xs {
        height: 65vh;
        width: 40vw;
      }
    }

    &-header {
      background-color: get-theme-value(palette, tertiary, background);
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 1rem 2rem;
    }

    &-body {
      overflow: hidden auto;
      position: relative;
      padding: 2rem;
      height: 100%;
    }

    &-footer {
      padding: 1rem 2rem;
      border-top: 1px solid get-theme-value(theme, primary, border);
    }

    @media (width <= 768px) {
      height: 100% !important;
      width: 100% !important;
      border-radius: 0rem;

      &-header {
        border-radius: 0rem;
      }
    }
  }
}
