<app-modal [title]="title" [primaryButton]="primaryButton" size="xs"
  (eventButtonClick)="$event ? executeDelete() : eventButtonClick?.emit($event)">
  <div class="center-all flex-direction-column height-100">
    <ng-content></ng-content>

    <p class="font-body-large mb-100-rem">Para confirmar la eliminación debes ingresar el nombre</p>
    <p class="font-body-large mb-100-rem"><strong>{{nameToValidate}}</strong></p>
    <app-input [formControl]="name" placeholder="Escribir nombre" [ngStyle]="{width: '100%'}"></app-input>
  </div>
</app-modal>
