<div class="container">

    <div class="card flex flex-row h-7rem p-2 m-2 border-round" >
        <div class="flex flex-column align-items-center justify-content-center w-6">
        <p-avatar [icon]="icon" size="xlarge" shape="circle"></p-avatar>
    </div>
    <div class="flex flex-column align-items-center justify-content-center w-6">
        <p class="m-0">{{ label }}</p>
        <h2 class="m-0">
            <span class="text-4xl font-bold">{{ acuracy }}</span>
      </h2>
    </div>
</div>
</div>