@import "src/styles/core/_theme.scss";

.container-module-chose-company {
  flex-direction: column;
  display: flex;
  height: 100%;

  & .secondary-card {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    row-gap: 2rem;
    height: 100%;

    & .container-note-no-selected-companies {
      background-color: get-theme-value(status, warning, complementary);
      border-radius: 0.325rem;
      padding: 0.5rem 1rem;
      column-gap: 0.5rem;
    }
  }
}
