@import "src/styles/core/_mixins.scss";
@import "src/styles/core/_theme.scss";

@include generate-styles("mb", "margin-bottom", rem, 150, 150);
@include generate-styles("mb", "margin-bottom", rem, 100, 100);
@include generate-styles("mb", "margin-bottom", rem, 30, 30);

@include generate-styles("mt", "margin-top", rem, 150, 150);

@include generate-styles("mr", "margin-right", rem, 50, 50);

@include generate-styles("ml", "margin-left", rem, 50, 50);

@include generate-styles("cg", "column-gap", rem, 100, 100);
@include generate-styles("cg", "column-gap", rem, 50, 50);

@include generate-styles("rg", "row-gap", rem, 50, 50);

@include generate-styles("w", "width", rem, 120, 120);

.container-module-folders {
  flex-direction: column;
  height: 100%;
  display: flex;

  & .secondary-card {
    flex-direction: column;
    overflow: auto;
    display: flex;
    height: 100%;

    & .content-item-document-and-folder {
      background-color: get-theme-value(theme, primary, transparent);
      border-radius: 0.325rem;
      padding: 0.8rem 1.2rem;
      margin-bottom: 0.3rem;
      align-items: center;
      width: fit-content;
      column-gap: 1rem;
      height: 3.399rem;
      min-width: 100%;
      display: grid;

      &-selected {
        background-color: get-theme-value(palette, primary, transparent);
      }

      @media (width >= 768px) {
        grid-template-columns: minmax(10rem, 1fr) minmax(10rem, 1fr) minmax(
            10rem,
            1fr
          );
      }

      @media (width < 768px) {
        grid-template-columns: minmax(10rem, 1fr) auto;
      }
    }

    & .item-checkbox {
      transition: background-color 0.3s ease-in-out;
      border-radius: 0.325rem;
      height: 1.3rem;
      width: 1.3rem;

      &:not(.item-checkbox-checked) {
        border: 1px solid get-theme-value(theme, secondary, color);
        background-color: transparent;
      }

      &-checked {
        border: 1px solid get-theme-value(palette, tertiary, background);
        background-color: get-theme-value(palette, tertiary, background);
      }
    }
  }
}

.container-upload-file-progress {
  box-shadow: 0px 4px 16px get-theme-value(theme, primary, transparent);
  background-color: get-theme-value(theme, secondary, background);
  border: 1px solid get-theme-value(theme, secondary, border);
  border-radius: 0.625rem;
  position: fixed;
  padding: 1rem;
  width: 15rem;
  bottom: 1rem;
  right: 1rem;

  & .progress-bar {
    background-color: get-theme-value(theme, secondary, border);
    border-radius: 0.625rem;
    height: 1rem;
    width: 100%;

    & .progress {
      background-color: get-theme-value(palette, tertiary, background);
      transition: width 0.3s ease-in-out;
      border-radius: 0.625rem;
      height: 1rem;
    }
  }
}
