@import "src/styles/core/_theme.scss";

.content-page {
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  display: flex;

  @media (width > 768px) {
    &:not(.sidebar-opened) {
      width: calc(100% - 6rem);
      margin-left: 6rem;
    }

    &.sidebar-opened {
      width: calc(100% - 20rem);
      margin-left: 20rem;
    }
  }

  @media (width <= 768px) {
    margin-top: 4rem;
    width: 100%;
  }
}
