<div class="container-module-trash">
  <app-navbar
    description="En este modulo podrás gestionar la papelera"
    [searchControl]="searchControl"
    [hiddenPrimaryButton]="true"
    title="Gestionar papelera"
    module="trash"
  ></app-navbar>
  <div class="container-general-panel overflow-hidden">
    <div class="secondary-card">
      <!-- Vista documentos y carpetas -->
      @defer (when !listStatus.loadingDocuments) {

      <!-- Breadcumb -->
      @if(listDocuments.length || listFolders.length || levelFolders.length > 1
      || listStatus.loadingDocuments){

      <div
        class="display-flex align-items-center justify-content-space-between mb-100-rem"
      >
        <section class="display-flex align-items-center">
          <p class="font-body-medium mr-50-rem">Seleccionar todos</p>
          <button
            [ngClass]="{ 'item-checkbox-checked': selectedAll.value }"
            class="item-checkbox cursor-pointer center-all"
            (click)="selectAll(!selectedAll.value)"
          >
            @if(selectedAll.value){
            <i
              class="fa-solid fa-check cl-secondary-background-theme-important"
              @fadeInOut
            ></i>
            }
          </button>
        </section>

        @if(withSelecteds){
        <button
          class="primary-badge badge-gray-hover border-radius-100 center-all"
          [appOverlay]="overlayGeneralOptions"
          overlayPosition="bottom-right"
          [closeInsideOverlay]="true"
          overlayActivateBy="click"
          overlayWidth="12rem"
        >
          <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </button>
        }
      </div>

      <app-breadcumb-folders
        (eventGoSpecificFolder)="previousAndNextFolder(undefined, $event)"
        [levelFolders]="levelFolders"
        @fadeIn
      ></app-breadcumb-folders>
      }
      <!-- Acción volver anterior -->
      @if(levelFolders.length > 1){
      <div
        class="content-item-document-and-folder cursor-pointer"
        (click)="previousAndNextFolder()"
        @fadeIn
      >
        <p class="font-caption-large">...</p>
      </div>
      }
      <!-- Skeleton loading -->
      @if(listStatus.loadingDocuments){ @for(item of createArrayByNumber(5);
      track i; let i = $index){
      <app-item-skeleton
        [customStyles]="{
          'margin-bottom': '0.3rem',
          height: '3rem'
        }"
      ></app-item-skeleton>
      } }
      <!-- Validación carpetas y documentos -->
      @if(listDocuments.length || listFolders.length){
      <!-- Recorrer carpetas -->
      @for(folder of listFolders; track folder.id_folder; let i = $index){
      <ng-container
        *ngTemplateOutlet="
          contentItem;
          context: {
            param: 'id_folder',
            item: folder,
            index: i
          }
        "
      ></ng-container>
      }
      <!-- Recorrer documentos -->
      @for(document of listDocuments; track document.id_history; let i =
      $index){
      <ng-container
        *ngTemplateOutlet="
          contentItem;
          context: {
            param: 'id_history',
            item: document,
            index: i
          }
        "
      ></ng-container>

      } @if(!listDocuments.length && !listFolders.length){
      <div class="center-all flex-direction-column height-100" @fadeIn>
        <img
          src="/assets/img/NoResults.png"
          [ngStyle]="{ width: '8rem' }"
          alt="NoReults"
        />
        <h3 class="font-title-large text-align-center">
          No se encontraron resultados con el termino:
        </h3>

        <h3
          class="font-title-large cl-primary-background-palette-important word-break-break-all"
        >
          {{ searchControl?.value }}
        </h3>
      </div>
      } } @else if(!listStatus.loadingDocuments) {
      <div class="center-all flex-direction-column height-100" @fadeIn>
        <img
          src="/assets/img/NoResults.png"
          [ngStyle]="{ width: '8rem' }"
          alt="NoReults"
        />
        <h3 class="font-title-large text-align-center mb-100-rem">
          No se encontraron carpetas ni documentos en papelera
        </h3>
      </div>
      } } @placeholder(minimum 500ms) {

      <app-item-skeleton
        [customStyles]="{
          'margin-bottom': '1rem',
          height: '1.5rem',
          width: '3.625rem'
        }"
      ></app-item-skeleton>

      @for(item of createArrayByNumber(5); track i; let i = $index){
      <app-item-skeleton
        [customStyles]="{
          'margin-bottom': '0.3rem',
          height: '3.399rem'
        }"
      ></app-item-skeleton>
      } }
    </div>
  </div>
</div>

<!-- Contenedor de los items -->
<ng-template #contentItem let-param="param" let-item="item" let-index="index">
  <div
    [ngClass]="{ 'content-item-document-and-folder-selected': item?.selected }"
    class="content-item-document-and-folder cursor-pointer"
    (click)="selectDocumentOrFolder(item)"
    (dblclick)="
      param === 'id_history'
        ? previewFile(item[param])
        : previousAndNextFolder({
            id_folder: item[param],
            name: item.name
          })
    "
    @slideEnterRight
  >
    <section class="display-flex align-items-center">
      <i
        [ngStyle]="{ color: param === 'id_history' ? '#ef5350' : null }"
        [ngClass]="{
          'fa-folder cl-secondary-background-palette': param === 'id_folder',
          ' fa-file-pdf': param === 'id_history'
        }"
        class="fa-lg fa-solid mr-50-rem"
      ></i>

      <p
        class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
        [appTooltip]="validateLimitText(name) ? item.name : ''"
        #name
      >
        {{ item.name }}
      </p>
    </section>
    <p
      class="font-caption-large cl-secondary-color-theme-important hidden-xs hidden-sm"
    >
      {{ item.deleted_at | date : "medium" }}
    </p>
    <div class="display-flex align-items-center justify-content-flex-end">
      @if(param === 'id_folder'){
      <p
        class="font-caption-large cl-secondary-color-theme-important mr-50-rem hidden-xs hidden-sm"
      >
        ({{ item?.fileCount }}
        {{ item?.fileCount === 1 ? "archivo" : "archivos" }})
      </p>
      }
      <button
        class="primary-badge badge-gray-hover border-radius-100 center-all"
        [overlayContext]="{param,item,index}"
        (click)="$event.stopPropagation()"
        overlayPosition="bottom-right"
        [appOverlay]="overlayOptions"
        [closeInsideOverlay]="true"
        overlayActivateBy="click"
        overlayWidth="12rem"
      >
        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
      </button>
    </div>
  </div>
</ng-template>

<!-- Overlay opciones de la carpeta o documento -->
<ng-template #overlayOptions let-context>
  <div class="primary-overlay" @fadeIn>
    <ul class="primary-list">
      <li
        (click)="
          context?.param === 'id_history'
            ? restoreDocument(context?.item?.id_history)
            : restoreFolder(context?.item?.id_folder)
        "
        [disabledAnyWay]="
          context?.param === 'id_history'
            ? context?.item?.id_folder
            : context?.item?.parent
        "
        appDisabledByPermission="TRASH"
        permission="UPDATE"
        class="item-list"
        [hidden]="true"
      >
        <p class="font-caption-large">Restaurar</p>
      </li>
      <li
        (click)="
          context?.param === 'id_history'
            ? (this.documentToDelete = context.item)
            : (this.folderToDelete = context.item)
        "
        [disabledAnyWay]="!context.item?.deleted_at"
        appDisabledByPermission="TRASH"
        permission="DELETE"
        class="item-list"
      >
        <p class="font-caption-large">Eliminar definitivamente</p>
      </li>
    </ul>
  </div>
</ng-template>

<!-- Overlay opciones generales -->
<ng-template #overlayGeneralOptions let-context>
  <div class="primary-overlay" @fadeIn>
    <ul class="primary-list">
      <li
        (click)="listStatus.showModalMultipleDelete = true"
        appDisabledByPermission="DOCUMENT"
        permission="DELETE"
        class="item-list"
      >
        <p class="font-caption-large">Eliminar seleccionados</p>
      </li>
    </ul>
  </div>
</ng-template>

@if(listStatus.showModalPreview){
<app-modal-preview-document
  [listStatus]="listStatus"
  [fileUrl]="fileUrl"
></app-modal-preview-document>
}@if(documentToDelete || folderToDelete){
<app-modal-confirmation-delete
  [nameToValidate]="documentToDelete?.name! ?? folderToDelete?.name!"
  [title]="'Eliminar ' + (documentToDelete ? 'documento' : 'carpeta')"
  (eventButtonClick)="
    documentToDelete ? deleteDocument($event) : deleteFolder($event)
  "
  [primaryButton]="{ text: 'Aceptar' }"
>
  <p class="font-body-large text-align-center mb-100-rem">
    ¿Estas seguro que quieres eliminar definitivamente
    {{ documentToDelete ? "el documento" : "la carpeta" }}?
  </p>
</app-modal-confirmation-delete>
} @if(listStatus.showModalMultipleDelete){
<app-modal
  [customStyles]="{ height: '16rem', width: '37rem' }"
  (eventButtonClick)="
    $event
      ? deleteFoldersAndDocumentsById()
      : (listStatus.showModalMultipleDelete = false)
  "
  title="Eliminar documentos y carpetas"
  [primaryButton]="{ text: 'Aceptar' }"
  size="xs"
>
  <p class="font-body-large text-align-center">
    ¿Estas seguro que quieres eliminar los documentos y carpetas seleccionadas?
  </p>
</app-modal>
}
