<div class="container-module-customer">
  <app-navbar
    [description]="
      'En este modulo podrás gestionar los ' +
      homologateText(userLocalService?.user?.type_company!, 'clientes')
    "
    (eventClickButton)="openModalCreateCustomer()"
    [title]="
      'Gestión de ' +
      homologateText(userLocalService?.user?.type_company!, 'clientes')
    "
    [searchControl]="searchControl"
    codeModule="CUSTOMER"
    module="customer"
  ></app-navbar>
  <div class="container-general-panel overflow-hidden">
    <div class="secondary-card">
      @if(userLocalService?.companySelected?.id_company){
      <section>
        <p class="font-body-medium">
          Nit compañía: <b>{{ userLocalService?.companySelected?.nit }}</b>
        </p>
        <p class="font-body-medium">
          Nombre compañía: <b>{{ userLocalService?.companySelected?.name }}</b>
        </p>
      </section>
      }
      <app-table
        [selectedItem]="['identification', idCustomerSelected]"
        (eventRowClick)="setUpdateCustomer($event)"
        [loadingTable]="listStatus.loadingTable"
        [gridHeaderColumns]="gridHeaderColumns"
        [fieldsToFilter]="fieldsToFilter"
        [totalItems]="customers.length"
        [searchControl]="searchControl"
        [list]="customers"
        [withPager]="true"
      >
        <ng-container tableHeader>
          <p
            [ngClass]="{
              'display-none': userLocalService?.user?.id_rol !== 1
            }"
            class="font-subtitle-large"
          >
            Compañía
          </p>
          <p class="font-subtitle-large">Identificación</p>
          <p class="font-subtitle-large">Tipo documento</p>
          <p class="font-subtitle-large">Nombre</p>
          <p class="font-subtitle-large">Email</p>
          <p class="font-subtitle-large">Teléfono</p>
        </ng-container>
        <ng-template let-item>
          @if(userLocalService?.user?.id_rol === 1){
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="
              validateLimitText(nameCompany) ? item?.name_company : ''
            "
            #nameCompany
          >
            {{ item?.name_company }}
          </p>
          }
          <p class="font-caption-large">{{ item?.identification }}</p>
          <p class="font-caption-large">{{ item?.name_type_document }}</p>
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="validateLimitText(nameCustomer) ? item?.name : ''"
            #nameCustomer
          >
            {{ item?.name }}
          </p>
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="validateLimitText(emailCustomer) ? item?.email : ''"
            #emailCustomer
          >
            {{ item?.email }}
          </p>
          <p class="font-caption-large">{{ item?.phone }}</p>
          @if(withDeletePermission){
          <button
            [appTooltip]="
              'Eliminar ' +
              homologateText(userLocalService?.user?.type_company!, 'cliente')
            "
            class="primary-button bg-danger button-sm width-fit-content"
            (click)="$event.stopPropagation(); customerToDelete = item"
            [configTooltip]="{ position: 'left' }"
            type="button"
          >
            <i
              class="fa-solid fa-trash-can cl-secondary-background-theme-important"
            >
            </i>
          </button>
          }
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

@if(listStatus.showModal){
<app-modal
  [primaryButton]="{
    text: !!idCustomerSelected ? 'Guardar' : 'Guardar'
  }"
  [secondaryButton]="{
    text:
      !!idCustomerSelected && userLocalService?.user?.id_rol === 3
        ? 'Cerrar'
        : 'Cancelar'
  }"
  (eventButtonClick)="$event ? createOrUpdateCustomer() : closeModal()"
  [title]="
    !!idCustomerSelected && userLocalService?.user?.id_rol === 3
      ? ''
      : (!!idCustomerSelected ? 'Actualizar  ' : 'Crear ') +
        homologateText(userLocalService?.user?.type_company!, 'cliente')
  "
  [loadingButtons]="listStatus.savingCustomer"
  [isUpdate]="!!idCustomerSelected"
  codeModule="CUSTOMER"
  size="md"
>
  <form [formGroup]="customerForm">
    <div class="row">
      <!-- Name -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          appDisabledByPermission="CUSTOMER"
          placeholder="Escribir nombre"
          [defaultLabelError]="true"
          formControlName="name"
          [maxlength]="200"
          id="name"
        >
          <label labelInput for="name">
            Nombre <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Type document -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-select
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          [configSelect]="{
          placeholder:'Seleccionar tipo de documento',
          defaultLabelError: true,
            assignOnlyFieldId: true,
            fieldId: 'id_document',
            id: 'id_document',
            fieldText: 'name',
          }"
          [disabledAnyWay]="!!idCustomerSelected"
          appDisabledByPermission="CUSTOMER"
          formControlName="id_document"
          [options]="typesDocument"
        >
          <label for="id_document" labelSelect>Tipo de documento</label>
        </app-select>
      </div>
      <!-- Identification -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          [disabledAnyWay]="!!idCustomerSelected"
          placeholder="Escribir identificación"
          appDisabledByPermission="CUSTOMER"
          formControlName="identification"
          [defaultLabelError]="true"
          id="identification"
          [maxlength]="20"
          type="number"
        >
          <label labelInput for="identification">
            Identificación <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Phone -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          appDisabledByPermission="CUSTOMER"
          placeholder="Escribir teléfono"
          [defaultLabelError]="true"
          formControlName="phone"
          [maxlength]="30"
          type="number"
          id="phone"
        >
          <label labelInput for="phone">
            Teléfono <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Email -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          placeholder="Escribir correo electrónico"
          appDisabledByPermission="CUSTOMER"
          [defaultLabelError]="true"
          formControlName="email"
          [maxlength]="100"
          type="email"
          id="email"
        >
          <label labelInput for="email">
            Correo electrónico
            <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Company -->
      @if(userLocalService.user?.id_rol === 1){
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-autocomplete
          [permission]="!!idCustomerSelected ? 'UPDATE' : 'CREATE'"
          [configAutoComplete]="{
            placeholder: 'Buscar compañía por nombre',
            defaultLabelError: true,
            assignOnlyFieldId: true,
            fieldId: 'id_company',
            fieldText: 'name',
            id: 'id_company'
          }"
          appDisabledByPermission="CUSTOMER"
          formControlName="id_company"
          [options]="companies"
        >
          <label for="id_company" labelAutoComplete> Compañía</label>
        </app-autocomplete>
      </div>
      }
    </div>
  </form>

  @if(!!idCustomerSelected){

  <div class="row">
    <div class="col col-xs-12 col-md-6 mb-150-rem">
      <h3 class="font-title-medium">Documentos registrados</h3>
    </div>
    <div class="col col-xs-12 col-md-6 mb-150-rem">
      <section
        class="display-flex align-items-center justify-content-flex-end"
        [ngStyle]="{ 'column-gap': '1rem' }"
      >
        <app-input
          placeholder="Seleccionar rango de fechas"
          [formControl]="rangeDatesControl"
          [ngStyle]="{ width: '21rem' }"
          iconSuffix="fa-calendar-days"
          [configDatePicker]="{
            mode: 'range'
          }"
          type="datepicker"
        ></app-input>

        <app-button
          (eventButtonClick)="getAllDocumentsByCustomer(idCustomerSelected)"
          [appDisabledElement]="!rangeDatesControl?.value"
          classes="primary-button button-md"
        >
          <i class="fa-solid fa-search fa-lg cl-secondary-background-theme"></i>
        </app-button>
      </section>
    </div>
  </div>

  <app-table
    (eventRowClick)="
      router.navigateByUrl('/documents?id_history=' + $event.id_history)
    "
    [loadingTable]="listStatus.loadingTableDocumentsByCustomer"
    gridHeaderColumns="minmax(9rem, 1fr) 1fr 11rem"
    [totalItems]="documentsByCustomer.length"
    [list]="documentsByCustomer"
    [withPager]="true"
    height="auto"
  >
    <ng-container tableHeader>
      <p class="font-subtitle-large">Nombre documento</p>
      <p class="font-subtitle-large">Descripción</p>
      <p class="font-subtitle-large">Fecha registro</p>
    </ng-container>
    <ng-template let-item>
      <p
        class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
        [appTooltip]="validateLimitText(nameDocument) ? item?.name : ''"
        #nameDocument
      >
        {{ item?.name }}
      </p>
      <p
        class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
        [appTooltip]="
          validateLimitText(descriptionCustomer) ? item?.description : ''
        "
        #descriptionCustomer
      >
        {{ item?.description }}
      </p>
      <p class="font-caption-large">
        {{ item?.created_at | date : "medium" }}
      </p>
    </ng-template>
  </app-table>
  }
</app-modal>
} @if(customerToDelete){
<app-modal-confirmation-delete
  [title]="
    'Eliminar ' +
    homologateText(userLocalService?.user?.type_company!, 'cliente')
  "
  (eventButtonClick)="
    $event ? deleteCustomer() : (customerToDelete = undefined)
  "
  [nameToValidate]="customerToDelete?.name!"
  [primaryButton]="{ text: 'Aceptar' }"
>
  <p class="font-body-large text-align-center mb-100-rem">
    Recuerda que si eliminas el
    {{ homologateText(userLocalService?.user?.type_company!, "cliente") }}
    también se eliminarán los documentos asociados.
  </p>
</app-modal-confirmation-delete>
}
