<div class="container-module-customer">
  <app-navbar
    [description]="'En este modulo podrás gestionar los ' + homologateText(userLocalService?.user?.type_company!,'clientes')"
    (eventClickButton)="openModalCreateCustomer()"
    [title]="'Gestión de ' + homologateText(userLocalService?.user?.type_company!,'clientes')"
    [(nameFilter)]="nameFilter" module="customer"></app-navbar>
  <div class="secondary-card">
    <app-table [selectedItem]="['identification', idCustomerSelected]" (eventRowClick)="setUpdateCustomer($event)"
      [loadingTable]="listStatus.loadingTable" [gridHeaderColumns]="gridHeaderColumns" [totalItems]="customers.length"
      [nameFilter]="nameFilter" [list]="customers" [withPager]="true">
      <ng-container tableHeader>
        <p class="font-subtitle-large">Identificación</p>
        <p class="font-subtitle-large">Tipo documento</p>
        <p class="font-subtitle-large">Nombre</p>
        <p class="font-subtitle-large">Email</p>
        <p class="font-subtitle-large">Teléfono</p>
        <p [ngClass]="{ 'display-none': userLocalService?.user?.id_rol !== 1 }" class="font-subtitle-large">
          Compañía
        </p>
      </ng-container>
      <ng-template let-item>
        <p class="font-body-medium">{{ item?.identification }}</p>
        <p class="font-body-medium">{{ item?.name_type_document }}</p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [appTooltip]="validateLimitText(nameCustomer) ? item?.name : ''" #nameCustomer>
          {{ item?.name }}
        </p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [appTooltip]="validateLimitText(emailCustomer) ? item?.email : ''" #emailCustomer>
          {{ item?.email }}
        </p>
        <p class="font-body-medium">{{ item?.phone }}</p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [ngClass]="{ 'display-none': userLocalService?.user?.id_rol !== 1 }" [appTooltip]="
            validateLimitText(nameCompany) ? item?.name_company : ''
          " #nameCompany>
          {{ item?.name_company }}
        </p>
      </ng-template>
    </app-table>
  </div>
</div>

@if(listStatus.showModal){
<app-modal [primaryButton]="{
    text: !!idCustomerSelected ? 'Guardar cambios' : 'Guardar'
  }" (eventButtonClick)="$event ? createOrUpdateCustomer() : closeModal()"
  [title]="(!!idCustomerSelected ? 'Actualizar  ' : 'Crear ')+homologateText(userLocalService?.user?.type_company!,'cliente')"
  [loadingButtons]="listStatus.savingCustomer" size="sm">
  <form [formGroup]="customerForm">
    <div class="row">
      <!-- Name -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir nombre" [defaultLabelError]="true" formControlName="name" id="name">
          <label labelInput for="name">
            Nombre <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Type document -->
      <div class="col-auto mb-150-rem">
        <app-select [configSelect]="{
          placeholder:'Seleccionar tipo de documento',
          defaultLabelError: true,
            assignOnlyFieldId: true,
            fieldId: 'id_document',
            id: 'id_document',
            fieldText: 'name',
          }" [appDisabledElement]="!!idCustomerSelected" formControlName="id_document" [options]="typesDocument">
          <label for="id_document" labelSelect>Tipo de documento</label>
        </app-select>
      </div>
    </div>
    <div class="row">
      <!-- Identification -->
      <div class="col-auto mb-150-rem">
        <app-input [appDisabledElement]="!!idCustomerSelected" placeholder="Escribir identificación"
          formControlName="identification" [defaultLabelError]="true" id="identification" type="number">
          <label labelInput for="identification">
            Identificación <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Phone -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir teléfono" [defaultLabelError]="true" formControlName="phone" type="number"
          id="phone">
          <label labelInput for="phone">
            Teléfono <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
    </div>
    <div class="row">
      <!-- Email -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir correo electrónico" [defaultLabelError]="true" formControlName="email"
          type="email" id="email">
          <label labelInput for="email">
            Correo electrónico
            <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Company -->
      @if(userLocalService.user?.id_rol===1){
      <div class="col-auto">
        <app-autocomplete [configAutoComplete]="{
            placeholder: 'Buscar compañía por nombre',
            defaultLabelError: true,
            assignOnlyFieldId: true,
            fieldId: 'id_company',
            fieldText: 'name',
            id: 'id_company'
          }" formControlName="id_company" [options]="companies">
          <label for="id_company" labelAutoComplete> Compañía</label>
        </app-autocomplete>
      </div>
      }
    </div>
  </form>

  @if(!!idCustomerSelected){

  <h3 class="font-title-medium mb-100-rem">Documentos registrados</h3>

  <app-table [loadingTable]="listStatus.loadingTableDocumentsByCustomer" [totalItems]="documentsByCustomer.length"
    gridHeaderColumns="1fr 1fr 9rem" [list]="documentsByCustomer" [withPager]="true" height="auto">
    <ng-container tableHeader>
      <p class="font-subtitle-large">Nombre documento</p>
      <p class="font-subtitle-large">Descripción</p>
      <p class="font-subtitle-large">Fecha registro</p>
    </ng-container>
    <ng-template let-item>
      <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
        [appTooltip]="validateLimitText(nameDocument) ? item?.name : ''" #nameDocument>
        {{ item?.name }}
      </p>
      <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden" [appTooltip]="
          validateLimitText(descriptionCustomer) ? item?.description : ''
        " #descriptionCustomer>
        {{ item?.description }}
      </p>
      <p class="font-body-medium">
        {{ item?.created_at | date : "YYYY-MM-dd hh:mm:ss" }}
      </p>
    </ng-template>
  </app-table>
  }
</app-modal>
}
