h1 {
    font-weight: 200;
}
h3 {
    font-weight: 300;
}

strong {
    color: #03B7DF;
}

.btn-login {
    background-color: var(--primary-color);
}

.bg-image {
    background-image: url('/assets/img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
