@import "src/styles/core/_mixins.scss";

@include generate-styles("mb", "margin-bottom", rem, 200, 200);
@include generate-styles("mb", "margin-bottom", rem, 150, 150);
@include generate-styles("mb", "margin-bottom", rem, 100, 100);

.bg-image {
  background-image: url("/assets/img/WallpaperDash.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-form {
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}
