<div class="container-fluid height-100vh row overflow-y-auto">
  <div class="col col-md-6 hidden-xs hidden-sm bg-image"></div>
  <div class="col col-md-6 center-all">
    <form class="container-form" [formGroup]="loginForm">
      <h2 class="font-headline-medium">
        Custo<span class="cl-primary-background-palette">Docs</span>
      </h2>

      <p class="font-body-large mb-200-rem">
        Una forma diferente de administrar tus archivos
      </p>

      <div class="mb-150-rem">
        <app-input [defaultLabelError]="true" formControlName="email" id="email" (keyup.enter)="login()">
          <label for="email" labelInput>Correo electronico</label>
        </app-input>
      </div>

      <div class="mb-200-rem">
        <app-input [defaultLabelError]="true" formControlName="password" type="password" id="password"
          (keyup.enter)="login()">
          <label for="password" labelInput>Contraseña</label>
        </app-input>
      </div>

      <app-button [loading]="listStatus.loadingLogin" classes="primary-button mb-100-rem" (eventButtonClick)="login()"
        [styles]="{
          'margin-bottom': '1rem'
        }">
        Iniciar sesión
      </app-button>

      @if(messageError){
      <p class="font-body-large cl-danger-background-status-important text-align-center">
        {{ messageError }}
      </p>
      }
    </form>
  </div>
</div>
