<div class="container-module-user">
  <app-navbar
    [description]="
      'En este modulo podrás gestionar los ' +
      homologateText(userLocalService?.user?.type_company!, 'empleados')
    "
    (eventClickButton)="openModalCreateUser()"
    [title]="
      'Gestión de ' +
      homologateText(userLocalService?.user?.type_company!, 'empleados')
    "
    [searchControl]="searchControl"
    codeModule="USER"
    module="user"
  ></app-navbar>
  <div class="container-general-panel overflow-hidden">
    <div class="secondary-card">
      <app-table
        [selectedItem]="['identification', idUserSelected]"
        [loadingTable]="listStatus.loadingTable"
        (eventRowClick)="setUpdateUser($event)"
        [gridHeaderColumns]="gridHeaderColumns"
        [fieldsToFilter]="fieldsToFilter"
        [searchControl]="searchControl"
        [totalItems]="users.length"
        [withPager]="true"
        [list]="users"
      >
        <ng-container tableHeader>
          <p class="font-subtitle-large">Identificación</p>
          <p class="font-subtitle-large">Tipo documento</p>
          <p class="font-subtitle-large">Nombre</p>
          <p class="font-subtitle-large">Email</p>
          <p class="font-subtitle-large">Teléfono</p>
          <p class="font-subtitle-large">Rol</p>
          <p
            [ngClass]="{ 'display-none': userLocalService?.user?.id_rol !== 1 }"
            class="font-subtitle-large"
          >
            Compañía
          </p>
        </ng-container>
        <ng-template let-item>
          <p class="font-caption-large">{{ item?.identification }}</p>
          <p class="font-caption-large">{{ item?.name_type_document }}</p>
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="validateLimitText(nameUser) ? item?.name : ''"
            #nameUser
          >
            {{ item?.name }}
          </p>
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="validateLimitText(emailUser) ? item?.email : ''"
            #emailUser
          >
            {{ item?.email }}
          </p>
          <p class="font-caption-large">{{ item?.phone }}</p>
          <p class="font-caption-large">{{ item?.name_rol }}</p>
          @if(userLocalService?.user?.id_rol === 1){
          <p
            class="font-caption-large white-space-nowrap text-overflow-ellipsis overflow-hidden"
            [appTooltip]="
              validateLimitText(nameCompany) ? item?.name_company : ''
            "
            #nameCompany
          >
            {{ item?.name_company }}
          </p>
          } @if(withDeletePermission && userLocalService?.user?.identification
          !== item.identification){
          <button
            [appTooltip]="
              'Eliminar ' +
              homologateText(userLocalService?.user?.type_company!, 'empleado')
            "
            class="primary-button bg-danger button-sm width-fit-content"
            (click)="$event.stopPropagation(); userToDelete = item"
            [configTooltip]="{ position: 'left' }"
            appDisabledByPermission="USER"
            permission="DELETE"
            type="button"
          >
            <i
              class="fa-solid fa-trash-can cl-secondary-background-theme-important"
            >
            </i>
          </button>
          }
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

@if(listStatus.showModal){
<app-modal
  [primaryButton]="{ text: !!idUserSelected ? 'Guardar' : 'Guardar' }"
  [title]="
    (!!idUserSelected ? 'Actualizar ' : 'Crear ') +
    homologateText(userLocalService?.user?.type_company!, 'empleado')
  "
  (eventButtonClick)="$event ? createOrUpdateUser() : closeModal()"
  [loadingButtons]="listStatus.savingUser"
  [isUpdate]="!!idUserSelected"
  codeModule="USER"
  size="md"
>
  <form [formGroup]="userForm">
    <div class="row">
      <!-- Name -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          appDisabledByPermission="USER"
          placeholder="Escribir nombre"
          [defaultLabelError]="true"
          formControlName="name"
          [maxlength]="200"
          id="name"
        >
          <label labelInput for="name">
            Nombre <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Type document -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-select
          [configSelect]="{
          placeholder:'Seleccionar tipo de documento',
          assignOnlyFieldId: true,
          defaultLabelError: true,
          fieldId: 'id_document',
          id: 'id_document',
          fieldText: 'name',
        }"
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          [disabledAnyWay]="!!idUserSelected"
          appDisabledByPermission="USER"
          formControlName="id_document"
          [options]="typesDocument"
        >
          <label for="id_document" labelSelect
            >Tipo de documento
            <span class="cl-danger-background-status">*</span>
          </label>
        </app-select>
      </div>
      <!-- Identification -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          placeholder="Escribir identificación"
          [disabledAnyWay]="!!idUserSelected"
          formControlName="identification"
          appDisabledByPermission="USER"
          [defaultLabelError]="true"
          id="identification"
          [maxlength]="20"
          type="number"
        >
          <label labelInput for="identification">
            Identificación <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Phone -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          placeholder="Escribir teléfono"
          appDisabledByPermission="USER"
          [defaultLabelError]="true"
          formControlName="phone"
          type="number"
          id="phone"
        >
          <label labelInput for="phone">
            Teléfono <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Email -->
      <div class="col col-xs-12 mb-150-rem">
        <app-input
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          placeholder="Escribir correo electrónico"
          appDisabledByPermission="USER"
          [defaultLabelError]="true"
          formControlName="email"
          [maxlength]="100"
          type="email"
          id="email"
        >
          <label labelInput for="email">
            Correo electrónico
            <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>

      @if(!idUserSelected){
      <!-- Password -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          placeholder="Escribir contraseña"
          appDisabledByPermission="USER"
          formControlName="password"
          [maxlength]="32"
          type="password"
          id="password"
        >
          <label for="password" labelInput>
            Contraseña
            <span class="cl-danger-background-status">*</span>
          </label>
          <label for="confirmPassword" labelInputError>
            {{userForm?.get('password')?.errors?.['minlength'] ? 'La contraseña debe tener al menos 8 caracteres.' :
            'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>
      <!-- Confirmar contraseña -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-input
          placeholder="Escribir confirmación de contraseña"
          formControlName="confirmPassword"
          appDisabledByPermission="USER"
          id="confirmPassword"
          [maxlength]="32"
          type="password"
        >
          <label for="confirmPassword" labelInput>
            Confirmar contraseña
            <span class="cl-danger-background-status">*</span>
          </label>
          <label for="confirmPassword" labelInputError>
            {{userForm?.errors?.['passwordMismatch'] ? 'Las contraseñas no coinciden' : 'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>
      } @if(userLocalService?.user?.id_rol === 1){
      <!-- Company -->
      <div class="col col-xs-12 col-md-6 mb-150-rem">
        <app-autocomplete
          (selectionChange)="
            userForm.get('id_rol')?.reset();
            getRolesByCompany(
              $event.type_company === 'IPS' ? null : $event.id_company
            )
          "
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          [configAutoComplete]="{
            placeholder: 'Buscar compañia por nombre',
            assignOnlyFieldId: true,
            defaultLabelError: true,
            fieldId: 'id_company',
            fieldText: 'name',
            id: 'id_company'
          }"
          appDisabledByPermission="USER"
          formControlName="id_company"
          [options]="companies"
        >
          <label for="id_company" labelAutoComplete>
            Compañía <span class="cl-danger-background-status">*</span>
          </label>
        </app-autocomplete>
      </div>
      }
      <!-- Rol -->
      <div class="col col-xs-12 col-md-6">
        <app-select
          [permission]="!!idUserSelected ? 'UPDATE' : 'CREATE'"
          [configSelect]="{
            placeholder: 'Seleccionar rol',
            assignOnlyFieldId: true,
            defaultLabelError: true,
            fieldId: 'id_rol',
            fieldText: 'name',
            id: 'id_rol'
          }"
          appDisabledByPermission="USER"
          formControlName="id_rol"
          [options]="roles"
        >
          <label for="id_rol" labelSelect>
            Rol <span class="cl-danger-background-status">*</span>
          </label>
        </app-select>
      </div>
    </div>
  </form>
</app-modal>
} @if(userToDelete){
<app-modal-confirmation-delete
  (eventButtonClick)="$event ? deleteUser() : (userToDelete = undefined)"
  [title]="
    'Eliminar ' +
    homologateText(userLocalService?.user?.type_company!, 'empleado')
  "
  [primaryButton]="{ text: 'Aceptar' }"
  [nameToValidate]="userToDelete?.name!"
>
  <p class="font-body-large text-align-center mb-100-rem">
    Recuerda que si eliminas el
    {{ homologateText(userLocalService?.user?.type_company!, "empleado") }} no
    se podrá recuperar la información.
  </p>
</app-modal-confirmation-delete>
}
