@import "src/styles/core/_mixins.scss";

@include generate-styles("mb", "margin-bottom", rem, 150, 150);
@include generate-styles("mb", "margin-bottom", rem, 100, 100);

.container-module-user {
  height: calc(100vh - 4rem);
  flex-direction: column;
  display: flex;

  & .secondary-card {
    margin-top: 2rem;
    overflow: hidden;
    height: 100%;

    @media (width > 576px) and (width <= 768px) {
      min-height: 13.5rem;
    }

    @media (width <= 576px) {
      min-height: 20rem;
    }
  }
}
