<div class="container-module-user">
  <app-navbar
    [description]="'En este modulo podrás gestionar los ' + homologateText(userLocalService?.user?.type_company!,'empleados')"
    (eventClickButton)="openModalCreateUser()"
    [title]="'Gestión de ' + homologateText(userLocalService?.user?.type_company!,'empleados')"
    [(nameFilter)]="nameFilter" module="user"></app-navbar>
  <div class="secondary-card">
    <app-table [selectedItem]="['identification', idUserSelected]" [loadingTable]="listStatus.loadingTable"
      (eventRowClick)="setUpdateUser($event)" [gridHeaderColumns]="gridHeaderColumns" [totalItems]="users.length"
      [nameFilter]="nameFilter" [withPager]="true" [list]="users">
      <ng-container tableHeader>
        <p class="font-subtitle-large">Identificación</p>
        <p class="font-subtitle-large">Tipo documento</p>
        <p class="font-subtitle-large">Nombre</p>
        <p class="font-subtitle-large">Email</p>
        <p class="font-subtitle-large">Teléfono</p>
        <p class="font-subtitle-large">Rol</p>
        <p [ngClass]="{ 'display-none': userLocalService?.user?.id_rol !== 1 }" class="font-subtitle-large">
          Compañía
        </p>
      </ng-container>
      <ng-template let-item>
        <p class="font-body-medium">{{ item?.identification }}</p>
        <p class="font-body-medium">{{ item?.name_type_document }}</p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [appTooltip]="validateLimitText(nameUser) ? item?.name : ''" #nameUser>
          {{ item?.name }}
        </p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [appTooltip]="validateLimitText(emailUser) ? item?.email : ''" #emailUser>
          {{ item?.email }}
        </p>
        <p class="font-body-medium">{{ item?.phone }}</p>
        <p class="font-body-medium">{{ item?.name_rol }}</p>
        <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
          [ngClass]="{ 'display-none': userLocalService?.user?.id_rol !== 1 }" [appTooltip]="
            validateLimitText(nameCompany) ? item?.name_company : ''
          " #nameCompany>
          {{ item?.name_company }}
        </p>
      </ng-template>
    </app-table>
  </div>
</div>

@if(listStatus.showModal){
<app-modal [primaryButton]="{text: !!idUserSelected ? 'Guardar cambios' : 'Guardar'}"
  [title]="(!!idUserSelected ? 'Actualizar ' : 'Crear ') + homologateText(userLocalService?.user?.type_company!,'empleado')"
  (eventButtonClick)="$event ? createOrUpdateUser() : closeModal()" [loadingButtons]="listStatus.savingUser" size="sm">
  <form [formGroup]="userForm">
    <div class="row">
      <!-- Name -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir nombre" [defaultLabelError]="true" formControlName="name" id="name">
          <label labelInput for="name">
            Nombre <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Type document -->
      <div class="col-auto mb-150-rem">
        <app-select formControlName="id_document" [configSelect]="{
            placeholder:'Seleccionar tipo de documento',
            assignOnlyFieldId: true,
            defaultLabelError: true,
            fieldId: 'id_document',
            id: 'id_document',
            fieldText: 'name',
          }" [appDisabledElement]="!!idUserSelected" [options]="typesDocument">
          <label for="id_document" labelSelect>Tipo de documento</label>
        </app-select>
      </div>
    </div>
    <div class="row">
      <!-- Identification -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir identificación" [appDisabledElement]="!!idUserSelected"
          formControlName="identification" [defaultLabelError]="true" id="identification" type="number">
          <label labelInput for="identification">
            Identificación <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
      <!-- Phone -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir teléfono" [defaultLabelError]="true" formControlName="phone" type="number"
          id="phone">
          <label labelInput for="phone">
            Teléfono <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
    </div>
    <div class="row">
      <!-- Email -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir correo electrónico" [defaultLabelError]="true" formControlName="email"
          type="email" id="email">
          <label labelInput for="email">
            Correo electrónico
            <span class="cl-danger-background-status">*</span>
          </label>
        </app-input>
      </div>
    </div>
    @if(!idUserSelected){
    <div class="row">
      <!-- Password -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir contraseña" formControlName="password" type="password" id="password">
          <label for="password" labelInput>Contraseña</label>
          <label for="confirmPassword" labelInputError>
            {{userForm?.get('password')?.errors?.['minlength'] ? 'La contraseña debe tener al menos 8 caracteres.' :
            'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>
      <!-- Confirmar contraseña -->
      <div class="col-auto mb-150-rem">
        <app-input placeholder="Escribir confirmación de contraseña" formControlName="confirmPassword"
          id="confirmPassword" type="password">
          <label for="confirmPassword" labelInput>Confirmar contraseña</label>
          <label for="confirmPassword" labelInputError>
            {{userForm?.errors?.['passwordMismatch'] ? 'Las contraseñas no coinciden' : 'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>
    </div>
    } @if(userLocalService.user?.id_rol === 1){
    <div class="row">
      <!-- Rol -->
      <div class="col-auto mb-150-rem">
        <app-select formControlName="id_rol" [configSelect]="{
            placeholder: 'Seleccionar rol',
            assignOnlyFieldId: true,
            defaultLabelError: true,
            fieldId: 'id_rol',
            fieldText: 'name',
            id: 'id_rol'
          }" [options]="roles">
          <label for="id_rol" labelSelect>Rol</label>
        </app-select>
      </div>
      <!-- Company -->
      <div class="col-auto">
        <app-autocomplete [configAutoComplete]="{
            placeholder: 'Buscar compañia por nombre',
            assignOnlyFieldId: true,
            defaultLabelError: true,
            fieldId: 'id_company',
            fieldText: 'name',
            id: 'id_company'
          }" formControlName="id_company" [options]="companies">
          <label for="id_company" labelAutoComplete> Compañía</label>
        </app-autocomplete>
      </div>
    </div>
    }
  </form>
</app-modal>
}
