<!-- menu.component.html -->
<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <div
        class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
      >
        <span class="inline-flex align-items-center gap-2">
          <svg
            width="33"
            height="35"
            viewBox="0 0 33 35"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="block mx-auto"
          ></svg>
          <span
            class="font-semibold text-2xl text-primary"
            style="font-weight: 40"
            >Custo | <strong style="font-weight: 900">Docs</strong>
          </span>
        </span>
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0">
          <li *ngFor="let item of menuItems">
            <div
              pRipple
              pStyleClass="@next"
              enterClass="hidden"
              enterActiveClass="slidedown"
              leaveToClass="hidden"
              leaveActiveClass="slideup"
              class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
            >
              <span class="font-medium">{{ item.label }}</span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden" *ngIf="item.items">
              <li *ngFor="let subItem of item.items">
                <a
                  pRipple
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                  [routerLink]="[subItem.link]"
                >
                  <i [class]="subItem.icon + ' mr-2'"></i>
                  <span class="font-medium">{{ subItem.label }}</span>
                  <span
                    *ngIf="subItem.badge"
                    class="inline-flex align-items-center justify-content-center ml-auto bg-primary border-circle"
                    style="min-width: 1.5rem; height: 1.5rem"
                    >{{ subItem.badge }}</span
                  >
                </a>

                <ul
                  class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out"
                  *ngIf="subItem.items"
                >
                  <li *ngFor="let childItem of subItem.items">
                    <a
                      pRipple
                      class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                    >
                      <i [class]="childItem.icon + ' mr-2'"></i>
                      <span class="font-medium">{{ childItem.label }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mt-auto">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <a
          pRipple
          class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
        >
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
          />
          <span class="font-bold">{{ userService.user?.name }}</span>
        </a>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right" class="icon-sidebar"></p-button>
