<div class="primary-sidebar" [ngClass]="{ 'sidebar-opened': isSidebarOpened }">
  <button
    [appTooltip]="isSidebarOpened ? 'Cerrar' : 'Abrir'"
    class="sidebar-action center-all"
    (click)="openAndCloseSidebar()"
    [configTooltip]="{
      position: 'right'
    }"
    type="button"
  >
    <i
      [ngClass]="{ 'fa-rotate-180': isSidebarOpened }"
      class="fa-solid fa-angle-right fa-lg"
    ></i>
  </button>
  <div class="sidebar-content">
    <div class="sidebar-header center-all">
      <h2 class="font-headline-small">
        {{ isSidebarOpened ? "Custo" : "C" }}
      </h2>
      <h2 class="font-headline-small cl-primary-background-palette-important">
        {{ isSidebarOpened ? "Docs" : "D" }}
      </h2>
    </div>
    <div class="sidebar-body">
      <ul>
        @for ( menu of userLocalService.menuSidebar; track indexMenu; let
        indexMenu = $index){ @for ( item of menu.items; track indexItem; let
        indexItem = $index){
        <li
          [appTooltip]="
            isSidebarOpened ? '' : 'Ver ' + (item.label | lowercase)
          "
          [ngClass]="{ 'justify-content-center': !showContent }"
          routerLinkActive="sidebar-item-activate"
          [routerLink]="[item.path]"
          class="sidebar-item"
          [configTooltip]="{
            position: 'right'
          }"
        >
          <i class="fa-solid fa-lg" [ngClass]="item.icon"></i>
          @if(isSidebarOpened){
          <p class="font-body-large" @slideEnterAndLeaveLeft>
            {{ item.label }}
          </p>
          }
        </li>
        } }
      </ul>
    </div>
    <div class="sidebar-footer">
      <div
        [ngClass]="{ 'justify-content-center': !showContent }"
        class="sidebar-item display-flex align-items-center"
        appTooltip="Mi perfil"
        [configTooltip]="{
          position: 'right'
        }"
        aria-label="Mi perfil"
        role="button"
        tabindex="0"
      >
        <i class="fa-solid fa-circle-user fa-lg"></i>
        @if(isSidebarOpened){
        <p
          class="font-subtitle-xlarge white-space-nowrap text-overflow-ellipsis overflow-hidden"
          @slideEnterAndLeaveLeft
        >
          {{ userLocalService?.user?.name }}
        </p>
        }
      </div>
      <div
        [ngClass]="{ 'justify-content-center': !showContent }"
        [appTooltip]="isSidebarOpened ? '' : 'Cerrar sesión'"
        class="sidebar-item display-flex align-items-center"
        [configTooltip]="{
          position: 'right'
        }"
        (keydown.enter)="logout()"
        (keydown.space)="logout()"
        aria-label="Cerrar sesión"
        (click)="logout()"
        role="button"
        tabindex="0"
      >
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
        @if(isSidebarOpened){
        <p class="font-subtitle-xlarge" @slideEnterAndLeaveLeft>
          Cerrar sesión
        </p>
        }
      </div>
    </div>
  </div>
</div>
