<div class="primary-sidebar" [ngClass]="{ 'sidebar-opened': isSidebarOpened }">
  <button [appTooltip]="isSidebarOpened ? 'Cerrar' : 'Abrir'" class="sidebar-action center-all"
    (click)="openAndCloseSidebar()" [configTooltip]="{
      position: 'right'
    }" type="button">
    <i [ngClass]="{ 'fa-rotate-180': isSidebarOpened }" class="fa-solid fa-angle-right fa-lg"></i>
  </button>
  <div class="sidebar-content">
    <div class="sidebar-header center-all">
      <img
        class="logo"
        [class.small-logo]="!isSidebarOpened"
        [class.large-logo]="isSidebarOpened"
        [src]="isSidebarOpened ? '/assets/img/LogoAzulL.png' : '/assets/img/LogoAzul.png'"
        alt="Logo"
      />
    </div>
    
    
    
    <div class="sidebar-body">
      <ul>
        @for ( menu of userLocalService.menuSidebar; track indexMenu; let
        indexMenu = $index){ @for ( item of menu.items; track indexItem; let
        indexItem = $index){
        <li [appTooltip]="
            isSidebarOpened ? '' : 'Ver ' + (homologateText(userLocalService?.user?.type_company!, item.label| lowercase) | lowercase)
          " [ngClass]="{ 'justify-content-center': !showContent }" routerLinkActive="sidebar-item-activate"
          [routerLink]="[item.path]" class="sidebar-item" [configTooltip]="{
            position: 'right'
          }">
          <i class="fa-solid fa-lg" [ngClass]="item.icon"></i>
          @if(isSidebarOpened){
          <p class="font-body-large white-space-nowrap text-overflow-ellipsis overflow-hidden" @slideEnterAndLeaveLeft>
            {{ homologateText(userLocalService?.user?.type_company!, item.label| lowercase) | titlecase }}
          </p>
          }
        </li>
        } }
      </ul>
    </div>
    <div class="sidebar-footer">
      <div [ngClass]="{ 'justify-content-center': !showContent }" class="sidebar-item display-flex align-items-center"
        appTooltip="Mi perfil" [configTooltip]="{
          position: 'right'
        }" aria-label="Mi perfil" role="button" tabindex="0">
        <i class="fa-solid fa-circle-user fa-lg"></i>
        @if(isSidebarOpened){
        <section @slideEnterAndLeaveLeft>
          <p class="font-subtitle-xlarge white-space-nowrap text-overflow-ellipsis overflow-hidden"
            >
            {{ userLocalService?.user?.name }}
          </p>
          <p class="font-body-medium white-space-nowrap text-overflow-ellipsis overflow-hidden"
            >
            {{ userLocalService?.user?.id_rol === 1 ? 'Super administrador' : userLocalService?.user?.id_rol === 2 ? 'Administrador' : userLocalService?.user?.id_rol === 3 ? 'Médico' : 'Cargador archivos' }}
          </p>
        </section>
        }
      </div>
      <div [ngClass]="{ 'justify-content-center': !showContent }" [appTooltip]="isSidebarOpened ? '' : 'Cerrar sesión'"
        class="sidebar-item display-flex align-items-center" [configTooltip]="{
          position: 'right'
        }" (keydown.enter)="logout()" (keydown.space)="logout()" aria-label="Cerrar sesión" (click)="logout()"
        role="button" tabindex="0">
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
        @if(isSidebarOpened){
        <p class="font-subtitle-xlarge white-space-nowrap text-overflow-ellipsis overflow-hidden"
          @slideEnterAndLeaveLeft>
          Cerrar sesión
        </p>
        }
      </div>
    </div>
  </div>
</div>