<div class="action-back">
  <app-button
    (eventButtonClick)="router.navigateByUrl('/login')"
    classes="primary-button bg-transparent button-md"
  >
    <i class="fa-solid fa-chevron-left mr-50-rem"></i>
    Volver
  </app-button>
</div>
<div class="container-fluid height-100vh row overflow-hidden">
  @if(listStatus.loadingValidationToken){
  <div class="center-all flex-direction-column width-100" @slideEnterTop>
    <img
      [ngStyle]="{ width: '20rem' }"
      src="assets/img/LogoAzul.png"
      class="mb-100-rem"
      alt="logo"
    />

    <i class="fa-solid fa-3x fa-circle-notch fa-spin"></i>
  </div>
  } @else if(listStatus.isTokenExpiredOrInvalid){
  <div class="center-all width-100 p-200-rem" @slideEnterTop>
    <img
      src="assets/img/ErrorInPage.png"
      [ngStyle]="{ width: '50rem' }"
      class="max-width-100"
      alt="logo"
    />
  </div>
  } @else if(listStatus.passwordChanged){
  <div
    class="center-all width-100 flex-direction-column p-200-rem"
    @slideEnterRight
  >
    <img
      src="assets/img/ResetPasswordSuccess.png"
      class="max-width-100 mb-150-rem"
      [ngStyle]="{ height: '25rem' }"
      alt="ResetPasswordSuccess"
    />

    <p class="font-body-large text-align-center mb-100-rem">
      Tu contraseña se ha actualizado correctamente, ya puedes iniciar sesión
      con tu nueva contraseña
    </p>

    <app-button
      (eventButtonClick)="router.navigateByUrl('/login')"
      classes="primary-button button-md"
    >
      Ir a iniciar sesión
    </app-button>
  </div>
  } @else {
  <div class="col col-xs-12 col-md-6 center-all" @slideEnterTop @slideLeaveLeft>
    <form class="container-form" [formGroup]="resetPasswordForm">
      <h2 class="font-headline-medium mb-200-rem">
        Custo<span class="cl-tertiary-background-palette">Docs</span>
      </h2>

      <div class="mb-150-rem">
        <app-input
          placeholder="Escribir contraseña"
          (keyup.enter)="resetPassword()"
          formControlName="password"
          type="password"
          id="password"
        >
          <label for="password" labelInput>Contraseña</label>
          <label for="confirmPassword" labelInputError>
            {{resetPasswordForm?.get('password')?.errors?.['minlength'] ? 'La contraseña debe tener al menos 8 caracteres.' :
            'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>

      <div class="mb-200-rem">
        <app-input
          placeholder="Escribir confirmación de contraseña"
          formControlName="confirmPassword"
          (keyup.enter)="resetPassword()"
          id="confirmPassword"
          type="password"
        >
          <label for="confirmPassword" labelInput>Confirmar contraseña</label>
          <label for="confirmPassword" labelInputError>
            {{resetPasswordForm?.errors?.['passwordMismatch'] ? 'Las contraseñas no coinciden' : 'Este campo es obligatorio'}}
          </label>
        </app-input>
      </div>

      <app-button
        [loading]="listStatus.loadingResetPassword"
        (eventButtonClick)="resetPassword()"
        [styles]="{
          'margin-bottom': '1rem'
        }"
        classes="primary-button"
      >
        Cambiar contraseña
      </app-button>
    </form>
  </div>
  <div
    class="col col-md-6 hidden-xs hidden-sm center-all"
    @slideEnterTop
    @slideLeaveLeft
  >
    <img
      src="assets/img/ChangingPassword.png"
      alt="ChangingPassword"
      width="100%"
    />
  </div>
  }
</div>
