@import "src/styles/core/_mixins.scss";

@include generate-styles("mb", "margin-bottom", rem, 200, 200);
@include generate-styles("mb", "margin-bottom", rem, 150, 150);
@include generate-styles("mb", "margin-bottom", rem, 100, 100);
@include generate-styles("mb", "margin-bottom", rem, 50, 50);

@include generate-styles("mr", "margin-right", rem, 50, 50);

@include generate-styles("p", "padding", rem, 200, 200);

.container-form {
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}

.action-back {
  position: fixed;
  left: 1rem;
  top: 1rem;
}
