@import "src/styles/core/_mixins.scss";

@include generate-styles("mb", "margin-bottom", rem, 150, 150);
@include generate-styles("mb", "margin-bottom", rem, 100, 100);

@include generate-styles("mt", "margin-top", rem, 150, 150);

@include generate-styles("mr", "margin-right", rem, 50, 50);

.container-module-ranking {
  flex-direction: column;
  display: flex;
  height: 100%;

  & .secondary-card {
    overflow: hidden;
    height: 100%;
  }
}
