<div class="background-dash w-full p-8 h-screen flex flex-column align-items-start justify-content-start">
  <div class="w-full flex flex-column align-items-start justify-content-start">
    <h1>Hola {{username}}</h1>
  </div>
  <div class="flex w-full justify-content-center align-content-center flex-row">
    <app-card class="card-item" *ngFor="let item of items" [icon]="item.icon" [label]="item.label" [acuracy]="item.acuracy"></app-card>
  </div>
  <div class="w-full mt-4 mb-4">
    <app-table [labelRow]="labelRow"></app-table>
  </div>
</div>
