
  .background-dash {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

/* El contenedor principal debe tener las siguientes propiedades */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Las tarjetas se envuelven si no hay espacio horizontal suficiente */
  gap: 16px; /* Añadir un espacio entre tarjetas */
}

/* Las tarjetas ocupan espacio equitativo */
.card-item {
  flex: 0 1 calc(25% - 16px); /* Cada tarjeta ocupará 25% del ancho menos el gap entre ellas */
  box-sizing: border-box; /* Asegura que el padding y el borde no influyan en el ancho */
  min-width: 200px; /* Asegura un tamaño mínimo para las tarjetas */
  margin-bottom: 16px; /* Espacio debajo de cada tarjeta */
}


