body{
    margin-top:20px;
}

.background-dash {
background-color: #fafafa;
}

.order-card {
    color: #fff;
}


.p-datatable-thead > tr {
    background-color: var(--primary-color);
    color: white;
}


