@import "src/styles/core/_mixins.scss";
@import "src/styles/core/_theme.scss";

@include generate-styles("mb", "margin-bottom", rem, 100, 100);
@include generate-styles("mb", "margin-bottom", rem, 50, 50);
@include generate-styles("mb", "margin-bottom", rem, 30, 30);

@include generate-styles("ml", "margin-left", rem, 50, 50);

.secondary-navbar {
  @media (width > 768px) {
    padding: 2rem 2rem 0 3rem;
  }

  @media (width <= 768px) {
    padding: 2rem 2rem 0 2rem;
  }

  & .primary-form-field {
    & input {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    }
  }

  & .item-separator {
    background-color: get-theme-value(theme, primary, border);
    margin-top: 0.3rem;
    width: 100%;
    height: 1px;
  }
}
