<div class="secondary-navbar">
  <div class="row align-items-flex-end">
    <div class="col col-xs-12 col-lg-7 mb-50-rem">
      <h3 class="font-title-large mb-50-rem">
        {{ title }}
      </h3>

      <p class="font-body-medium cl-secondary-color-theme-important">
        {{ description }}
      </p>
    </div>
    <div class="col col-xs-12 col-lg-5 mb-50-rem">
      <div class="display-flex align-items-center justify-content-flex-end">
        @if(searchControl){
        <div class="primary-form-field width-100">
          <input
            placeholder="Buscar {{
              homologateText(
                userLocalService?.user?.type_company!,
                homologateModule[module]
              )
            }}"
            class="primary-input bg-secondary-background-theme-important"
            [formControl]="searchControl"
            type="text"
          />
        </div>
        } @if(!hiddenPrimaryButton){
        <button
          class="primary-button button-md width-fit-content ml-50-rem"
          [appTooltip]="
            'Agregar ' +
            homologateText(
              userLocalService?.user?.type_company!,
              homologateModule[module]
            )
          "
          [appDisabledByPermission]="codeModule"
          [configTooltip]="{
            position: 'left'
          }"
          (click)="eventClickButton.emit()"
        >
          <i
            class="fa-solid fa-plus fa-lg cl-secondary-background-theme-important"
          ></i>
        </button>
        } @if(actions.length){
        <button
          class="primary-button button-md bg-transparent width-fit-content ml-50-rem"
          [appOverlay]="overlayActions"
          overlayPosition="left-center"
          [closeInsideOverlay]="true"
          overlayActivateBy="click"
          overlayWidth="6rem"
        >
          <i class="fa-solid fa-ellipsis-vertical fa-lg"> </i>
        </button>

        <ng-template #overlayActions>
          <div class="primary-overlay" @fadeIn>
            <ul class="primary-list">
              @if(actions.includes('export')){
              <li
                [appDisabledByPermission]="codeModule"
                (click)="eventExport.emit()"
                permission="EXPORT"
                class="item-list"
              >
                <p class="font-caption-large">Exportar</p>
              </li>
              } @if(actions.includes('import')){
              <li
                [disabledAnyWay]="userLocalService?.user?.id_rol === 1"
                [appDisabledByPermission]="codeModule"
                (click)="eventImport.emit()"
                class="item-list"
              >
                <p class="font-caption-large">Importar</p>
              </li>
              }
            </ul>
          </div>
        </ng-template>

        }
      </div>
    </div>
  </div>
  <div class="item-separator"></div>
</div>
